



<div class="card" style="width: 18rem;">
    @if (!string.IsNullOrEmpty(Model.Image))
    {
        <img class="card-img-top" src="@Model.Image" style="height:250px; object-fit:cover;">
    }
    else
    {
        <div class="card-img-top d-flex justify-content-center align-items-center bg-light"
             style="height:250px;">

            <i class="fa-solid fa-circle-user text-secondary"
               style="font-size:180px; line-height:1;"></i>

        </div>
    }

    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>

        <p class="card-text">
            <strong>SSN:</strong> @Model.SSN <br />
            <strong>Email:</strong> @Model.Email <br />
            <strong>Phone:</strong> @Model.Phone <br />
            <strong>Address:</strong> @Model.Address
        </p>
    </div>
</div>


@section Page {
            Student Details / @Model.SSN
}