@model List<Instructor>



<a class="btn btn-outline-primary" asp-action="Add" asp-controller="Instructor">Add Instructor</a>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Department Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ins_Id</th>
                <td>@item.ins_Name</td>
                <td>@item.ins_Email</td>
                <td>@item.Age</td>
                <td>@item.Salary</td>
                @if(item.Department == null)
                {
                    <td>Not Assigned</td>
                }
                else
                {
                    <td>@item.Department.DeptName</td>
                }
                <td>
                    <a asp-action="Details" asp-controller="Instructor" asp-route-id="@item.ins_Id"
                       class="btn btn-info btn-sm">
                        View
                    </a>

                    <a asp-action="Edit" asp-controller="Instructor" asp-route-id="@item.ins_Id"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

@section Page {
        Instructors
}


